body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #BBDEFB;
    
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
    
}

.instructions {
    background-color: orange;
    padding: 5px;
    color: #ece7e7;
    text-decoration-color: orange;
    
}

.form1 {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.root {
    flex-grow:1;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}
.button {
    display: flex;
    align-content: center;
    justify-content: center;
}
.container1 {
    position: relative; 
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container1 .content {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 95%; /* Full width */
    padding: 5px; /* Some padding */
    text-align: center;
}

.container1 .content2 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 95%; /* Full width */
    padding: 5px; /* Some padding */
    text-align: center;
}

.logo {
    margin: 10px;
}

.loginForm {
    display:flex;
    justify-content:center;
    align-items:center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* li {
    float: left;
} */

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: blue;
}
